@import './../../../Styles/theme.less';
.NCard-H{
    padding: @padding-md/4;
    // max-width: calc( 100% / 4);
    border-radius: 4px;
    width: 100%;
}
.NCard{
    position: relative;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    transition: 500ms ease;

    &:hover{
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    }


    img{
        width: 100%;
        border-radius: 4px;
        max-height: 300px;
        object-fit: cover;
    }
    //
    .NCard-Top{
        position: relative;
    }
    .NCard-Top-Ov{
        position: absolute;
        top: 0;
        left: 0;
        background: fade(black, 25%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        border-radius: 4px;
        .NCard-Auth {
            padding: @padding-md;
            *{
            color: white;
        }}
    } 
    // 
    .NCard-Bottom{
        padding: @padding-md;
    }
}