@import "../../node_modules/antd/lib/style/themes/default.less";
 
// Overrides
@layout-body-background:    transparent;
@layout-header-background:  transparent;
@layout-footer-background:  @primary_3;
@layout-header-padding: 0 @padding-md/2;



// ===========================
// ======== New declarations Overrides ========
@primary-color: #3C9D9B;


// Other colors
@primary_2: #BAE8E8;
@primary_3: #E3F6F5;

@white:     #FFFFFF;


@blacK:     #161424;
@black_1:   #272343;
