@import "./../../../Styles/theme.less";

.HomePage{
    .ant-layout-content{
        min-height: calc( 100vh - 50px * 2)
    }
}
.HomePage-Select{
    height: 48px;
    background: fade(darken(@primary-color, 5%), 5%)
}
.HomePage-Selections{
    padding: 0 @padding-md;
    display: flex;
    height: 48px;
    align-items: center;
    flex-wrap: no-wrap;
    >*{
        border-radius: 30px;
        // padding: @padding-md/2 @padding-md;
        transition: 400ms ease;
        margin: 0 @padding-md/2;
        cursor: pointer;
        &:hover{
            background: fade(@primary-color, 10%);
            color: @primary-color;
        }
        &:not(.Active){
            background: fade(@primary-color, 2%);
            color: @text-color ;
        }
        &.Active{
            background: fade(@primary-color, 10%);
            color: @primary-color;
        }
    }
}