@import "./../../../../Styles/theme.less";

.MainMenu {
    min-height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: @padding-md/4 @padding-md;
    height: 64px;

    .MainMenu-Logo{
        margin-right: auto;
        img{
            height: 100%;
        padding: @padding-md/4;
        height: 55px;
        }
    }
    // Menu
    .ant-menu-horizontal{
        border-bottom-width: 0;
        height: 64px;
        >*{
            line-height: 64px;
        }
    }
    &-Account {
        display: flex;
        min-height: 100%;
        min-width: 100px;
        line-height: 130%;
        display: flex;
        align-items: center;
        padding: @padding-md/8 @padding-md;

        h3 {
            font-weight: bold;
            margin: 0;
            color: @primary-color;
        }

        &-D {
            padding-left: 5px;
        }
    }
}